body{
  background-color: red;
}

/*==========   Menu =================== */
.main-nav .carreto{
			margin-left: 5px;
			color: red;
			font-size: 1.1em;
}

.main-nav {
  z-index: 800;
  box-sizing: border-box; }
  .main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap; }
    @media screen and (max-width: 600px) {
      .main-nav ul {
        flex-direction: column; } }
  .main-nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0px 5px;
    transition: 0.4s ease; }
    .main-nav a:hover {
      background-color: rgba(255, 0, 0, 0.5);
      text-decoration: none; }

.main-menu li {
  line-height: 3;
  flex: auto; 
  position: relative; 
}
  .main-menu li > a {
    text-align: center; }

/*---- Para mostrar ----- */
.main-menu li:hover {
  transition: 0.4s ease; }
  .main-menu li:hover ul {
    transition: 0.4s ease;
    display: block; }
  .main-menu li:hover li:hover ul {
    transition: 0.4s ease;
    display: block; }

/* 1er nivel */
.main-menu {
  width: 100%; }
  .main-menu > li {
    background-color: #e8cc00; }

/* 2do nivel */
.main-menu li .sub-menu {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  display: none;
  position: absolute;
  transition: 0.4s ease; }
.main-menu > li > ul {
  background-color: #0166ff;
  z-index: 900;
  width: 100%;
  box-sizing: border-box; }

/* 3er nivel */
.main-nav li .sub-menu .sub-menu {
  top: 0%;
  left: 100%;
  display: none;
  transition: 0.4s ease;
  background-color: red; }
  @media screen and (max-width: 600px) {
    .main-nav li .sub-menu .sub-menu {
      left: 0%; } }
